html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Tahoma, serif;
    overflow: hidden;
}

.modalBack {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}

.modal {
    position: absolute;
    top: 10%;
    left: 40%;
    width: 20%;
    height: 80%;
    background-color: #262626;
}

.horizontalList a {
    text-decoration: none;
}

.horizontalList a li {
    color: #b4b4b4;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
}

.modal button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#canvas {
    cursor: move;
}

.sidePanel {
    background-color: #262626;
    width: 15%;
    height: 100%;
}

.left {
    position: relative;
    float: left;
}

.right {
    position: relative;
    float: right;
}

#topMenu {
    width: 100%;
    height: 20px;
    background-color: #151515;
    color: #b4b4b4;
}

#topMenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
}

#topMenu ul li {
    display: inline-block;
    padding: 0 10px;
    text-align: center;
}

#topMenu ul li:hover {
    background-color: #353535;
}

li ul {
    display: none;
}

li:hover ul {
    margin: 0;
    display: unset;
    position: absolute;
    top: 20px;
    margin-left: -24px !important;
    z-index: 10;
    list-style: none;
    width: 120px;
}

li:hover ul li {
    background-color: #151515;
    width: 120px;
    padding: 5px 4px !important;
    z-index: 10;
    text-align: left !important;
}

li ul li a {
    color: #b4b4b4;
    text-decoration: none;
}

.horizontalList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.horizontalList a li {
    padding: 10px 10px;
}

.horizontalList a li:hover {
    background-color: rgba(0, 0, 0, 0.3);
}